{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-8">
    <h4>For You</h4>
    {% for post in posts %}

    <div class="row post-wrap">
        <div class="col-sm-4">
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5> 
            <img class="post-mini" src="{{ post.image.url }}" style="cursor: pointer;"/>
        </div>
        <div class="col-sm-8">
            <p>{{ post.caption }}</p>
        </div>
    </div>    
    {% endfor %}
</div>
{% endblock %}